{% extends 'temp/base.html' %}

{% block base %}

	<form method="post">
        {% csrf_token %}
		<h1 align="center" style="font-family: courier;" >EMPLOYEE REGISTRATION</h1>
		<table align="center" class="table">
		<tr>
			<td >
				EMPLOYEE  NAME
			</td>
			<td>
				<input type="text" name="empname" placeholder="enter employee name" required="" class="form-control">

			</td>

		</tr>
		
		
		<tr>
			<td>ADDRESS</td>
			<td><textarea rows="4" cols="26" input type="text" name="addressemp" placeholder="enter employee address" required="">
				</textarea>
			</td>
		</tr>

		
		<tr>
			<td>EMAIL ID</td>
			<td>
				<input type="email" name="emailemp" placeholder="enter email address" required="" class="form-control">
			</td>
		</tr>

		<tr>
			<td>PHONE NO</td>
			<td>
				<input type="text" name="empphone" placeholder="enter  phone number" required="" class="form-control">
			</td>
		</tr>
		<tr>
			<td>EMPLOYEE TYPE</td>
			<td>
				<input type="text" name="emptyp" placeholder="enter employe type" required="" class="form-control">
			</td>
		</tr>
		
		<tr>
			<td>BASIC PAY</td>
			<td>
				<input type="text" name="basicpay" placeholder="enter basic pay" required="" class="form-control">
			</td>
		</tr>

		
		<tr>
            <td></td>
			<td>
				<input type="submit" name="empreg" value="REGISTER" class="btn btn-primary">
			</td>
			
		</tr>
		
			
				
		
		

	</table>
		
	</form>
     <br>

    {% if msg %}
        <div class="well text-center" style="color: #080808!important;"><h4>{{ msg }}</h4></div>
    {% endif %}
{% endblock %}

